<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.mapper.user.BookUserMapper">
	
	<!-- 
		//获取图书种类
	List<BookCategory> getBookCategory(); -->
	<select id="getBookCategory" resultType="com.hang.pojo.BookCategory">
		SELECT * FROM system_book_category
	</select>
	

</mapper>